﻿@using App.UI.ExtJs
@using App.Web.Razor
@using ECabinet.Data.Properties
@using ECabinetApp
@using ECabinetApp.Views.Shared
@{
	Layout = null;
}
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width" />
	@AppUI.ExtResourceManager()

	<script type="text/javascript">
		Ext.apply(window.App.Server, {});
		@StingsManager.Instance.Render(String.Empty)
	</script>
	@Plugin.ECabinetResources()
	@Bundle.RenderScript(Plugin.Script)

</head>
<body>
	@RenderBody()
</body>
</html>