﻿<!DOCTYPE html>
@{
	Layout = null;
}
<html>
<head>
	<title></title>
	<style>
		.ElBorder {
			border: 1px red dotted;
		}

		.ElNoBorder {
			border: 1px;
		}
	</style>
	<script type="text/javascript">
		var lastActiveField = null;

		function SetActiveEl(el) {
			if (el.className == 'ElBorder') {
				el.className = 'ElNoBorder';
				lastActiveField = null;
				return;
			}

			el.className = 'ElBorder';
			if (lastActiveField != null) {
				lastActiveField.Name = lastActiveField.id;
				lastActiveField.className = 'ElNoBorder';
			}
			lastActiveField = el;
		}

		function ClearActiveField() {
			if (lastActiveField != null) {
				lastActiveField.Name = lastActiveField.id;
				lastActiveField.className = 'ElNoBorder';
			}
			lastActiveField = null;
		}

		function reg_event(event) { //обработка события
			var activField = document.getElementsByClassName('ElBorder');
			if (activField[0] == null) return true;
			event.preventDefault(); //запрет на дальнейшее распространение
			event.stopPropagation(); //запрет на дальнейшее распространение

			var top = parseInt(activField[0].style.top);
			var left = parseInt(activField[0].style.left);

			if (event.keyCode == 37) // стрелка в лево
				activField[0].style.left = left - 2 + 'px';

			if (event.keyCode == 38) // стрелка в up
				activField[0].style.top = top - 2 + 'px';

			if (event.keyCode == 39) // стрелка в right
				activField[0].style.left = left + 2 + 'px';

			if (event.keyCode == 40) // стрелка в down
				activField[0].style.top = top + 2 + 'px';

			return false; //возвращаем false
		}

		if (document.addEventListener) { // FF и другие
			document.addEventListener("keydown", reg_event, false);
		} else { // специально для MSIE
			htmlElement.attachEvent("keyup", reg_event);
		}
	</script>
</head>
<!--background: url(Resources/css/sertR.jpg) no-repeat;-->
<body onbeforeprint="ClearActiveField()" style="padding: 0px; font-size: 16px; margin: 0px; font-weight: bold; ">
	<div id="FrameBorderRu" style=" position: absolute; top: 0px; left: 0px; height: 1050px; width: 750px; " name="field">
		<div id="RuNameOPS" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 150px; left: 86px; width: 570px; text-align: center;">Наименование ОПС</div>
		<div id="RuAdressOPS" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 188px; left: 86px; width: 570px; text-align: center;">Адрес ОПС</div>
		<div id="RuNumberOPS" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 312px; left: 292px; font-weight: bold">О.00.0000</div>
		<div id="RuDaySert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 450px; left: 92px; width: 27px; text-align: center;">10</div>
		<div id="RuMonthSert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 450px; left: 130px; width: 115px; text-align: right; ">сентября 2014</div>
		<div id="RuNumberSert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 454px; left: 498px;">KZ.0000000.07.03.000000</div>
		<div id="RuFinishDay" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 494px; left: 452px; width: 27px; text-align: center;">10</div>
		<div id="RuFinishMonth" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 494px; left: 490px; width: 135px; text-align: right;">сентября 2014</div>

		<div id="RuDeclarant" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 523px; left: 84px; line-height: 32px; width: 575px; text-align: justify; text-indent: 200px; ">Заявитель Адрес Заявителя se rf drtg drtgftbg tyh tdt hfyhftfyy jy gyujgyujgyujgyu</div>
		<div id="RuAdressDeclarant" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 559px; left: 86px;"></div>

		<div id="RuSystem" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 588px; line-height: 32px; left: 84px; width: 575px; text-align: justify; text-indent: 200px; ">Системы менеджмента безопасности пищевых продуктов</div>
		<div id="RuAreaAkreditation" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 652px; left: 84px; line-height: 32px; width: 575px; text-align: justify; text-indent: 110px; ">ОБЛАСТЬ АККРЕДИТАЦИИ eur ob fjb hjfbo jf  jhb obf obv bv uobv jodfvn uovb bdhl vodjnvo bdjkn dvhkn vdjhodfbv hobdfv ovbjh boБвшм уыкшграыу шы шщиыс иынщ ыоторыу сш иыукшт ыукорисыгщи сышис ыгиы кр78 рынгпмц к7 мывалотмыгщ ивам</div>
		<div id="RuRequiments" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 784px; left: 84px; line-height: 32px; width: 580px; text-align: justify; text-indent: 185px; ">СТ РК ИСО 22000-2006 (ISO 22000:2005) «Системы менеджмента безопасности пищевых продуктов. Требования ко всем организациям в цепи производства»</div>
		<div id="RuSinger" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 902px; left: 484px; white-space: nowrap;">Руководитель ФИО</div>
	</div>
	<div id="FrameBorderKz" style="position: absolute; top: 0px; left: 0px; height: 1050px; width: 750px; display: none; " name="field">
		<div id="KzNameOPS" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 150px; left: 90px; width: 575px; text-align: center;">Наименование ОПС</div>
		<div id="KzAdressOPS" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 188px; left: 90px; width: 575px; text-align: center;">Атауы, мекен-жайы</div>
		<div id="KzNumberOPS" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 312px; left: 294px; font-weight: bold">О.00.0000</div>
		<div id="KzDaySert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 452px; left: 165px; width: 27px; text-align: center;">10</div>
		<div id="KzMonthSert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 452px; left: 205px;">Қыркүйек</div>
		<div id="KzYearSert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 452px; left: 90px;">2014</div>
		<div id="KzNumberSert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 452px; left: 510px;">KZ.0000000.07.03.00000</div>
		<div id="KzFinishDay" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 492px; left: 437px; width: 27px; text-align: center;">10</div>
		<div id="KzFinishMonth" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 492px; left: 480px;">Қыркүйек</div>
		<div id="KzFinishYear" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 492px; left: 360px;">2014</div>
		<div id="KzDeclarant" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 523px; line-height: 32px; left: 90px; width: 575px; text-align: justify; text-indent: 107px;">Заявитель sdzcsd gdr drtg hyh fy fy dthyf hfc fgbfg bgh gf tfgfhg sefse er dtrg trgtrg dtrgt hft</div>
		<div id="KzAdressDeclarant" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 559px; left: 90px;"></div>
		<div id="KzSystem" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 587px; line-height: 32px; left: 90px; width: 575px; text-align: justify; text-indent: 85px; ">Тамақ өнімдері қауіпсіздігінің менеджмент жүйелері.</div>
		<div id="KzAreaAkreditation" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 652px; left: 90px; line-height: 32px; width: 575px; text-align: justify; ">ОБЛАСТЬ АККРЕДИТАЦИИ eur ob fjb hjfbo jf  jhb obf obv bv uobv jodfvn uovb bdhl vodjnvo bdjkn dvhkn vdjhodfbv hobdfv ovbjh boБвшм уыкшграыу шы шщиыс иынщ ыоторыу сш иыукшт ыукорисыгщи сышис ыгиы кр78 рынгпмц к7 мывалотмыгщ ивам</div>
		<div id="KzRequiments" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 784px; left: 90px; line-height: 32px; width: 580px; text-align: justify;">ҚР СТ ИСО 22000-2006 «Тамақ өнімдері қауіпсіздігінің менеджмент жүйелері. Тамақ өнімдерін өндіру саласындағы барлық ұйымдарға қойылатын талаптар.»</div>
		<div id="KzSinger" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 902px; left: 495px; white-space: nowrap;">Руководитель ФИО</div>
	</div>
	<div id="FrameAppendixKz" style="position: absolute; top: 0px; left: 0px; height: 1050px; width: 750px; display: none" name="field">
		<div id="KzAppendixNumberSert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 452px; left: 510px;">KZ.0000000.07.03.00000</div>
		<div id="KzAppendix" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 150px; left: 83px; line-height: 32px; width: 585px; text-align: justify; ">Дополнительная информация</div>
		<div id="KzAppendixSinger" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 902px; left: 495px; white-space: nowrap;">Руководитель ФИО</div>
	</div>
	<div id="FrameAppendixRu" style="position: absolute; top: 0px; left: 0px; height: 1050px; width: 750px; display: none" name="field">
		<div id="RuAppendixNumberSert" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 452px; left: 510px;">KZ.0000000.07.03.00000</div>
		<div id="RuAppendix" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 150px; left: 83px; line-height: 32px; width: 585px; text-align: justify; ">Дополнительная информация</div>
		<div id="RuAppendixSinger" onclick="SetActiveEl(this)" name="field"
			 style="cursor: pointer; position: absolute; top: 902px; left: 495px; white-space: nowrap;">Руководитель ФИО</div>
	</div>

</body>
</html>
