﻿@using System.Linq
@using App.Data.Proxy
@using App.Framework.Xpo;
@using DevExpress.Xpo;
@using ECabinet.Core.Helpers
@using ECabinet.Core.SM
@using ECabinet.Data.Model.Entities.SM;
@using ECabinet.Data.Model.Entities.System
@using ECabinet.Data.Properties
@using Newtonsoft.Json;

@{
	ViewBag.Title = Strings.Common_PrintBlank;
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	string idSert = Context.Request.QueryString["sertId"];
	if (idSert != null) {
		idSert = idSert.TrimEnd('/');
	}
	//	bool showControls = Context.Request.QueryString["sertId"] != null;
	MSmSertificate sert = null;
	SmBlankSettings blank = null;
	var user = HttpContext.Current.User.Identity.Name;

	using(var uow = new FwXpoSession()) {
		if (idSert != null) {
			sert = new XPQuery<MSmSertificate>(uow).FirstOrDefault(a => a.Oid == Int32.Parse(idSert));
			sert.FirstRegisterDate = sert.FirstRegisterDate ?? sert.StartDate;
		}
		var settings = new XPQuery<MUsersSettings>(uow).FirstOrDefault(a => a.User.UserName == user && a.Key == "SmBlankNew");
		if (settings != null) {
			blank = JsonConvert.DeserializeObject<SmBlankSettings>(settings.Settings);
		} else {
			blank = new SmBlankSettings();
		}
	}
}

<script type="text/javascript">
	var x = 0;
	var y = 0;

	Ext.define('Ext.ux.IFrame', {
		extend: 'Ext.Component',
		alias: 'widget.uxiframe',
		loadMask: App.$STR.Loading,
		layout: 'fit',
		src: 'about:blank',
		renderTpl: [
			'<iframe src="BlankTemplate" id="{id}-iframeEl" data-ref="iframeEl" name="{frameName}" width="100%" height="100%" frameborder="0"></iframe>'
		],
		childEls: ['iframeEl'],

		// #region FrameEvents
		initComponent: function () {
			this.callParent();

			this.frameName = this.frameName || this.id + '-frame';
		},

		initEvents: function () {
			var me = this;
			me.callParent();
			me.iframeEl.on('load', me.onLoad, me);
		},

		initRenderData: function () {
			return Ext.apply(this.callParent(), {
				src: this.src,
				frameName: this.frameName
			});
		},

		getBody: function () {
			var doc = this.getDoc();
			return doc.body || doc.documentElement;
		},

		getEl: function (id) {
			// if (exit) return null;
			var win = this.getDoc();
			return Ext.get(win.getElementById(id));
		},

		getElsByName: function (name) {
			// if (exit) return null;
			var win = this.getDoc();
			return Ext.get(win.getElementsByName(name));
		},

		getElByClassName: function (name) {
			// if (exit) return null;
			var win = this.getDoc();
			return Ext.get(win.getElementsByClassName(name)[0]);
		},

		getDoc: function () {
			try {
				return this.getWin().document;
			} catch (ex) {
				return null;
			}
		},

		getWin: function () {
			var me = this,
				name = me.frameName,
				win = Ext.isIE
					? me.iframeEl.dom.contentWindow
					: window.frames[name];
			return win;
		},

		getFrame: function () {
			var me = this;
			return me.iframeEl.dom;
		},

		beforeDestroy: function () {
			this.cleanupListeners(true);
			this.callParent();
		},

		cleanupListeners: function (destroying) {
			var doc, prop;

			if (this.rendered) {
				try {
					doc = this.getDoc();
					if (doc) {
						Ext.get(doc).un(this._docListeners);
						if (destroying) {
							for (prop in doc) {
								if (doc.hasOwnProperty && doc.hasOwnProperty(prop)) {
									delete doc[prop];
								}
							}
						}
					}
				} catch (e) { }
			}
		},

		onLoad: function () {
			// Init Data section
			@{
				if (sert != null || blank.Settings.Count != 0) {
					string number = "KZ.0000000.07.03.00000";
					if (sert != null) {
						number = sert.OpsUnit.SmSertNumber + ".";
						string result = string.Empty;
						for (int i = 0; i < 5 - sert.Counter.ToString().Length; i++) {
							result += "0";
						}
						number += result + sert.Counter;
					}

			// Common
			@SmBlankSettings.InitField("SystemOfCert", blank.GetValue("SystemOfCert"), sert == null ? "QMS" : sert.SertificationStore.PrintLabel)

			// на Русском
			@SmBlankSettings.InitField("FrameBorderRu", blank.GetValue("FrameBorderRu"), "TEST")
			@SmBlankSettings.InitField("RuNameOPS", blank.GetValue("RuNameOPS"), sert == null ? "TEST" : sert.OpsUnit.Name.ToString("ru-RU"))
			@SmBlankSettings.InitField("RuAdressOPS", blank.GetValue("RuAdressOPS"), sert == null ? "TEST" : sert.OpsUnit.Adress.ToString("ru-RU"))
			@SmBlankSettings.InitField("RuNumberOPS", blank.GetValue("RuNumberOPS"), sert == null ? "TEST" : sert.OpsUnit.AttestateNumber)
			@SmBlankSettings.InitField("RuDaySert", blank.GetValue("RuDaySert"), sert == null ? "TEST" : sert.StartDate.ToString("dd"))
			@SmBlankSettings.InitField("RuMonthSert", blank.GetValue("RuMonthSert"), sert == null ? "TEST" : LocalizeKazHelper.MonthRus(sert.StartDate.Month) + " " + sert.StartDate.Year)
			@SmBlankSettings.InitField("RuNumberSert", blank.GetValue("RuNumberSert"), sert == null ? "TEST" : number)
			@SmBlankSettings.InitField("RuFinishDay", blank.GetValue("RuFinishDay"), sert == null ? "TEST" : sert.FinishDate.ToString("dd"))
			@SmBlankSettings.InitField("RuFinishMonth", blank.GetValue("RuFinishMonth"), sert == null ? "TEST" : LocalizeKazHelper.MonthRus(sert.FinishDate.Month) + " " + sert.FinishDate.Year)

			@SmBlankSettings.InitField("RuRegistrationDay", blank.GetValue("RuRegistrationDay"), sert == null ? "TEST" :
				(sert.FirstRegisterDate.HasValue ? sert.FirstRegisterDate.Value.ToString("dd") : ""))
			@SmBlankSettings.InitField("RuRegistrationMonth", blank.GetValue("RuRegistrationMonth"), sert == null ? "TEST" :
				(sert.FirstRegisterDate.HasValue ? LocalizeKazHelper.MonthRus(sert.FirstRegisterDate.Value.Month) + " " + sert.FirstRegisterDate.Value.Year : ""))

			@SmBlankSettings.InitField("RuDeclarant", blank.GetValue("RuDeclarant"), sert == null ? "TEST" : sert.SmEntry.Declarant.Name.ToString("ru-RU") + " " + sert.SmEntry.Declarant.Adress.ToString("ru-RU"))
			@SmBlankSettings.InitField("RuAreaAkreditation", blank.GetValue("RuAreaAkreditation"), sert == null ? "TEST" : sert.AreaSertification.ToString("ru-RU"))
			@SmBlankSettings.InitField("RuSystem", blank.GetValue("RuSystem"), sert == null ? "TEST" : sert.System.ToString("ru-RU"))
			@SmBlankSettings.InitField("RuRequiments", blank.GetValue("RuRequiments"), sert == null ? "TEST" : sert.Requirements.ToString("ru-RU"))
			@SmBlankSettings.InitField("RuSinger", blank.GetValue("RuSinger"), sert == null ? "TEST" : sert.Signatory)
			@SmBlankSettings.InitField("RuAuditor", blank.GetValue("RuAuditor"), sert == null ? "TEST" : sert.Auditor.ShortName)

			// на Казахском
			@SmBlankSettings.InitField("FrameBorderKz", blank.GetValue("FrameBorderKz"), "TEST");
			@SmBlankSettings.InitField("KzNameOPS", blank.GetValue("KzNameOPS"), sert == null ? "TEST" : sert.OpsUnit.Name.ToString("kk-KZ"))
			@SmBlankSettings.InitField("KzAdressOPS", blank.GetValue("KzAdressOPS"), sert == null ? "TEST" : sert.OpsUnit.Adress.ToString("kk-KZ"))
			@SmBlankSettings.InitField("KzNumberOPS", blank.GetValue("KzNumberOPS"), sert == null ? "TEST" : sert.OpsUnit.AttestateNumber)
			@SmBlankSettings.InitField("KzDaySert", blank.GetValue("KzDaySert"), sert == null ? "TEST" : sert.StartDate.ToString("dd"))
			@SmBlankSettings.InitField("KzMonthSert", blank.GetValue("KzMonthSert"), sert == null ? "TEST" : LocalizeKazHelper.Month(sert.StartDate.Month))
			@SmBlankSettings.InitField("KzYearSert", blank.GetValue("KzYearSert"), sert == null ? "TEST" : sert.StartDate.ToString("yyyy"))

			@SmBlankSettings.InitField("KzRegistrationDay", blank.GetValue("KzRegistrationDay"), sert == null ? "TEST" :
				(sert.FirstRegisterDate.HasValue ? sert.FirstRegisterDate.Value.ToString("dd") : ""))
			@SmBlankSettings.InitField("KzRegistrationMonth", blank.GetValue("KzRegistrationMonth"), sert == null ? "TEST" :
				(sert.FirstRegisterDate.HasValue ? LocalizeKazHelper.Month(sert.FirstRegisterDate.Value.Month) : ""))
			@SmBlankSettings.InitField("KzRegistrationYear", blank.GetValue("KzRegistrationYear"), sert == null ? "TEST" :
				(sert.FirstRegisterDate.HasValue ? sert.FirstRegisterDate.Value.ToString("yyyy") : ""))

			@SmBlankSettings.InitField("KzNumberSert", blank.GetValue("KzNumberSert"), sert == null ? "TEST" : number)
			@SmBlankSettings.InitField("KzFinishDay", blank.GetValue("KzFinishDay"), sert == null ? "TEST" : sert.FinishDate.ToString("dd"))
			@SmBlankSettings.InitField("KzFinishMonth", blank.GetValue("KzFinishMonth"), sert == null ? "TEST" : LocalizeKazHelper.Month(sert.FinishDate.Month))
			@SmBlankSettings.InitField("KzFinishYear", blank.GetValue("KzFinishYear"), sert == null ? "TEST" : sert.FinishDate.ToString("yyyy"))
			@SmBlankSettings.InitField("KzDeclarant", blank.GetValue("KzDeclarant"), sert == null ? "TEST" : sert.SmEntry.Declarant.Name.ToString("kk-KZ") + " " + sert.SmEntry.Declarant.Adress.ToString("kk-KZ"))
			@SmBlankSettings.InitField("KzAreaAkreditation", blank.GetValue("KzAreaAkreditation"), sert == null ? "TEST" : sert.AreaSertification.ToString("kk-KZ"))
			@SmBlankSettings.InitField("KzSystem", blank.GetValue("KzSystem"), sert == null ? "TEST" : sert.System.ToString("kk-KZ"))
			@SmBlankSettings.InitField("KzRequiments", blank.GetValue("KzRequiments"), sert == null ? "TEST" : sert.Requirements.ToString("kk-KZ"))
			@SmBlankSettings.InitField("KzSinger", blank.GetValue("KzSinger"), sert == null ? "TEST" : sert.Signatory)
			@SmBlankSettings.InitField("KzAuditor", blank.GetValue("KzAuditor"), sert == null ? "TEST" : sert.Auditor.ShortName)

			// на английском
			@SmBlankSettings.InitField("FrameBorderEn", blank.GetValue("FrameBorderEn"), "TEST");
			@SmBlankSettings.InitField("EnNameOPS", blank.GetValue("EnNameOPS"), sert == null ? "TEST" : sert.OpsUnit.Name.ToString("en-Us"))
			@SmBlankSettings.InitField("EnAdressOPS", blank.GetValue("EnAdressOPS"), sert == null ? "TEST" : sert.OpsUnit.Adress.ToString("en-Us"))
			@SmBlankSettings.InitField("EnNumberOPS", blank.GetValue("EnNumberOPS"), sert == null ? "TEST" : sert.OpsUnit.AttestateNumber)
			@SmBlankSettings.InitField("EnDaySert", blank.GetValue("EnDaySert"), sert == null ? "TEST" : sert.StartDate.ToString("dd"))
			@SmBlankSettings.InitField("EnMonthSert", blank.GetValue("EnMonthSert"), sert == null ? "TEST" : sert.StartDate.ToString("yyyy") + " " + LocalizeKazHelper.MonthEng(sert.StartDate.Month))
			@SmBlankSettings.InitField("EnNumberSert", blank.GetValue("EnNumberSert"), sert == null ? "TEST" : number)
			@SmBlankSettings.InitField("EnFinishDay", blank.GetValue("EnFinishDay"), sert == null ? "TEST" : sert.FinishDate.ToString("dd"))
			@SmBlankSettings.InitField("EnFinishMonth", blank.GetValue("EnFinishMonth"), sert == null ? "TEST" : sert.FinishDate.ToString("yyyy") + " " + LocalizeKazHelper.MonthEng(sert.FinishDate.Month))

			@SmBlankSettings.InitField("EnRegistrationDay", blank.GetValue("EnRegistrationDay"), sert == null ? "TEST" :
				(sert.FirstRegisterDate.HasValue ? sert.FirstRegisterDate.Value.ToString("dd") : ""))
			@SmBlankSettings.InitField("EnRegistrationMonth", blank.GetValue("EnRegistrationMonth"), sert == null ? "TEST" :
				(sert.FirstRegisterDate.HasValue ? sert.FirstRegisterDate.Value.Year + " " + LocalizeKazHelper.MonthEng(sert.FirstRegisterDate.Value.Month) : ""))

			@SmBlankSettings.InitField("EnDeclarant", blank.GetValue("EnDeclarant"), sert == null ? "TEST" : sert.SmEntry.Declarant.Name.ToString("en-Us") + " " + sert.SmEntry.Declarant.Adress.ToString("en-Us"))
			@SmBlankSettings.InitField("EnAreaAkreditation", blank.GetValue("EnAreaAkreditation"), sert == null ? "TEST" : sert.AreaSertification.ToString("en-Us"))
			@SmBlankSettings.InitField("EnSystem", blank.GetValue("EnSystem"), sert == null ? "TEST" : sert.System.ToString("en-Us"))
			@SmBlankSettings.InitField("EnRequiments", blank.GetValue("EnRequiments"), sert == null ? "TEST" : sert.Requirements.ToString("en-Us"))
			@SmBlankSettings.InitField("EnSinger", blank.GetValue("EnSinger"), sert == null ? "TEST" : sert.Signatory)
			@SmBlankSettings.InitField("EnAuditor", blank.GetValue("EnAuditor"), sert == null ? "TEST" : sert.Auditor.ShortName)

			// Appendix
			@SmBlankSettings.InitField("FrameAppendixKz", blank.GetValue("FrameAppendixKz"), "TEST");
			@SmBlankSettings.InitField("FrameAppendixRu", blank.GetValue("FrameAppendixRu"), "TEST");
			@SmBlankSettings.InitField("FrameAppendixEn", blank.GetValue("FrameAppendixEn"), "TEST");
			@SmBlankSettings.InitField("KzAppendixNumberSert", blank.GetValue("KzAppendixNumberSert"), sert == null ? "TEST" : number)
			@SmBlankSettings.InitField("RuAppendixNumberSert", blank.GetValue("RuAppendixNumberSert"), sert == null ? "TEST" : number)
			@SmBlankSettings.InitField("EnAppendixNumberSert", blank.GetValue("EnAppendixNumberSert"), sert == null ? "TEST" : number)
			@SmBlankSettings.InitField("KzAppendix", blank.GetValue("KzAppendix"), sert == null ? "TEST" : sert.AreaSertificationAppendix.ToString("kk-KZ"))
			@SmBlankSettings.InitField("RuAppendix", blank.GetValue("RuAppendix"), sert == null ? "TEST" : sert.AreaSertificationAppendix.ToString("ru-RU"))
			@SmBlankSettings.InitField("EnAppendix", blank.GetValue("EnAppendix"), sert == null ? "TEST" : sert.AreaSertificationAppendix.ToString("en-Us"))
			@SmBlankSettings.InitField("KzAppendixSinger", blank.GetValue("KzAppendixSinger"), sert == null ? "TEST" : sert.Signatory)
			@SmBlankSettings.InitField("RuAppendixSinger", blank.GetValue("RuAppendixSinger"), sert == null ? "TEST" : sert.Signatory)
			@SmBlankSettings.InitField("EnAppendixSinger", blank.GetValue("EnAppendixSinger"), sert == null ? "TEST" : sert.Signatory)

			@SmBlankSettings.InitField("KzAppendixAuditor", blank.GetValue("KzAppendixAuditor"), sert == null ? "TEST" : sert.Auditor.ShortName)
			@SmBlankSettings.InitField("RuAppendixAuditor", blank.GetValue("RuAppendixAuditor"), sert == null ? "TEST" : sert.Auditor.ShortName)
			@SmBlankSettings.InitField("EnAppendixAuditor", blank.GetValue("EnAppendixAuditor"), sert == null ? "TEST" : sert.Auditor.ShortName)
		}
			}

					var me = this,
						doc = me.getDoc(),
						fn = me.onRelayedEvent;

			if (doc) {
				try {
					// These events need to be relayed from the inner document (where they stop
					// bubbling) up to the outer document. This has to be done at the DOM level so
					// the event reaches listeners on elements like the document body. The effected
					// mechanisms that depend on this bubbling behavior are listed to the right
					// of the event.
					Ext.get(doc).on(
						me._docListeners = {
						mousedown: fn, // menu dismisal (MenuManager) and Window onMouseDown (toFront)
							mousemove: fn, // window resize drag detection
							mouseup: fn,   // window resize termination
							click: fn,     // not sure, but just to be safe
							dblclick: fn,  // not sure again
							scope: me
						}
					);
				} catch (e) {
					// cannot do this xss
				}
			// We need to be sure we remove all our events from the iframe on unload or we}'re going to LEAK!
			Ext.get(this.getWin()).on('beforeunload', me.cleanupListeners, me);

				this.el.unmask();
				this.fireEvent('load', this);

			} else if (me.src) {
				this.el.unmask();
				this.fireEvent('error', this);
			}
		},

		onRelayedEvent: function (event) {
				// relay event from the iframe's document to the document that owns the iframe...
				var iframeEl = this.iframeEl,
				// Get the left-based iframe position
				iframeXY = iframeEl.getTrueXY(),
				originalEventXY = event.getXY(),

			// Get the left-based XY position.
			// This is because the consumer of the injected event will
			// perform its own RTL normalization.
			eventXY = event.getTrueXY();
			// the event from the inner document has XY relative to that document's origin,
			// so adjust it to use the origin of the iframe in the outer document:
			event.xy = [iframeXY[0] + eventXY[0], iframeXY[1] + eventXY[1]];
			event.injectEvent(iframeEl); // blame the iframe for the event...
			event.xy = originalEventXY; // restore the original XY (just for safety)
			},

		load: function (src) {
				var me = this,
					text = me.loadMask,
					frame = me.getFrame();

				if (me.fireEvent('beforeload', me, src) !== false) {
					if (text && me.el) {
						me.el.mask(text);
					}

					frame.src = me.src = (src || me.src);
				}
			},
		initField: function (field, xy, text) {
				if (field == null) return;
				if (xy != '-100') {
					var top = xy.split(',')[0];
					var left = xy.split(',')[1];
					field.setStyle('left', left);
					field.setStyle('top', top);
				}

				if (text != 'TEST')
					field.setHtml(text);
			}
		// #endregion FrameEvents
	});

	Ext.define('App.settingsPrintBlank.Panel', {
		extend: 'Ext.panel.Panel',
		requires: ['Ext.layout.container.Border'],
		controller: 'settingsPrintBlank',
		layout: 'fit',
		bodyBorder: true,
		dockedItems: [{
			dock: 'left',
			xtype: 'toolbar',
			items: [
			{
				xtype: 'button',
				iconCls: Ext.icon.pagehidden,
				text: $_CS.Common.Instruction,
				handler: 'onShowInstruction'
			},
			{
				xtype: 'button',
				iconCls: Ext.icon.save,
				text: App.$STR.Save,
				handler: 'onSaveBlankPosition'
			},
			{
				style: 'margin-bottom: 15px;',
				xtype: 'button',
				iconCls: Ext.icon.printer,
				text: App.$STR.Print,
				handler: 'onPrint'
			},
			{
				xtype: 'container',
				layout: {
					type: 'hbox',
					align: 'stretch'
				},
				anchorHorizontal: '100%',
				items: [
					{
						xtype: 'label',
						style: 'margin-left:20px;',
						text: $_CS.Common.Rus,
					},
					{
						style: 'margin-left:20px;',
						xtype: 'label',
						text: $_CS.Common.Kaz,
					},
					{
						style: 'margin-left:25px;',
						xtype: 'label',
						text: 'Eng',
					}]
			},
			{
				xtype: 'container',
				layout: {
					type: 'hbox',
					align: 'stretch'
				},
				anchorHorizontal: '100%',
				items: [
					{
						xtype: 'button',
						text: $_CS.Common.Cert,
						referenc: 'btnSertRus',
						enableToggle: true,
						toggleGroup: 'language',
						flex: 1,
						iconCls: Ext.icon.pagetext,
						handler: 'onRusSert'
					},
					{
						style: 'margin-left:3px;',
						xtype: 'button',
						flex: 1,
						enableToggle: true,
						toggleGroup: 'language',
						referenc: 'btnSertKz',
						iconCls: Ext.icon.pagetext,
						text: $_CS.Common.Cert,
						handler: 'onKazSert'
					},
					{
						style: 'margin-left:3px;',
						xtype: 'button',
						flex: 1,
						enableToggle: true,
						toggleGroup: 'language',
						referenc: 'btnSertEn',
						iconCls: Ext.icon.pagetext,
						text: $_CS.Common.Cert,
						handler: 'onEngSert'
					}]
			},
			{
				xtype: 'container',
				layout: {
					type: 'hbox',
					align: 'stretch'
				},
				anchorHorizontal: '100%',
				items: [
					{
						xtype: 'button',
						text: $_CS.Common.App,
						referenc: 'btnSertAppRus',
						enableToggle: true,
						toggleGroup: 'language',
						flex: 1,
						iconCls: Ext.icon.pagehidden,
						handler: 'onRusAppSert'
					},
					{
						style: 'margin-left:3px;',
						xtype: 'button',
						flex: 1,
						enableToggle: true,
						toggleGroup: 'language',
						referenc: 'btnSertAppKz',
						iconCls: Ext.icon.pagehidden,
						text: $_CS.Common.App,
						handler: 'onKazAppSert'
					},
					{
						style: 'margin-left:3px;',
						xtype: 'button',
						flex: 1,
						enableToggle: true,
						toggleGroup: 'language',
						referenc: 'btnSertAppEn',
						iconCls: Ext.icon.pagehidden,
						text: $_CS.Common.App,
						handler: 'onEngAppSert'
					}]
			},
			{
				xtype: 'label',
				text: $_CS.SmPrintBlank.PrintSettings,
				style: 'margin-top:10px;'
			},
			{
				xtype: 'container',
				layout: 'center',
				items: [{
					xtype: 'button',
					iconCls: Ext.icon.arrowup,
					text: App.$STR.Up,
					handler: 'onMoveUp'
				}]
			},
			{
				xtype: 'container',
				layout: {
					type: 'hbox',
					align: 'stretch'
				},
				anchorHorizontal: '100%',
				items: [{
					xtype: 'button',
					text: App.$STR.Left,
					iconCls: Ext.icon.arrowleft,
					handler: 'onMoveLeft'
				},
				{
					style: 'margin-left:45px;',
					xtype: 'button',
					iconCls: Ext.icon.arrowright,
					text: App.$STR.Right,
					handler: 'onMoveRight'
				}]
			},
			{
				xtype: 'container',
				layout: 'center',
				items: [{
					xtype: 'button',
					iconCls: Ext.icon.arrowdown,
					text: App.$STR.Down,
					handler: 'onMoveDown'
				}]
			}]
		}],
		items: [
			new Ext.ux.IFrame({
				region: 'center',
				reference: 'iframeBlank'
			})
		],
	});

	var currentSert = 'FrameBorderRu';
	Ext.define('App.settingsPrintBlank.controller.Index', {
		extend: 'App.Controller',
		alias: 'controller.settingsPrintBlank',

		init: function () {
			// this.frameMoving(x, y);
		},

		onSaveBlankPosition: function () {
			var result = '{"Settings": {';
			var fields = this.lookupReference('iframeBlank').getElsByName('field');
			fields.each(function (obj) {
				result += '"' + obj.dom.id + '":"' + obj.dom.style.top + ',' + obj.dom.style.left + '",';
			});

			result += '} }';
			this.ajax.post('SavePrintSettings', { 'blank': result }, null, $_CS.SmPrintBlank.SaveSettings, null, 200);
		},

		onMoveLeft: function () {
			this.frameMoving(-2, 0);
		},
		onMoveDown: function () {
			this.frameMoving(0, 2);
		},
		onMoveRight: function () {
			this.frameMoving(2, 0);
		},
		onMoveUp: function () {
			this.frameMoving(0, -2);
		},

		onRusSert: function () {
			this.lookupReference('iframeBlank').getEl('FrameBorderRu').setStyle('display', 'block');
			this.lookupReference('iframeBlank').getEl('FrameBorderKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderEn').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixEn').setStyle('display', 'none');
			currentSert = 'FrameBorderRu';
			this.lookupReference('iframeBlank').getEl('SystemOfCert').setStyle('display', 'block');
		},

		onRusAppSert: function () {
			this.lookupReference('iframeBlank').getEl('SystemOfCert').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderEn').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixRu').setStyle('display', 'block');
			this.lookupReference('iframeBlank').getEl('FrameAppendixKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixEn').setStyle('display', 'none');
			currentSert = 'FrameBorderRu';
		},

		onKazSert: function () {
			this.lookupReference('iframeBlank').getEl('SystemOfCert').setStyle('display', 'block');
			this.lookupReference('iframeBlank').getEl('FrameBorderRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderKz').setStyle('display', 'block');
			this.lookupReference('iframeBlank').getEl('FrameBorderEn').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixEn').setStyle('display', 'none');
			currentSert = 'FrameBorderKz';
		},

		onKazAppSert: function () {
			this.lookupReference('iframeBlank').getEl('SystemOfCert').setStyle('display', 'none');

			this.lookupReference('iframeBlank').getEl('FrameBorderRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderEn').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixKz').setStyle('display', 'block');
			this.lookupReference('iframeBlank').getEl('FrameAppendixEn').setStyle('display', 'none');
			currentSert = 'FrameAppendixKz';
		},

		onEngSert: function () {
			this.lookupReference('iframeBlank').getEl('SystemOfCert').setStyle('display', 'block');

			this.lookupReference('iframeBlank').getEl('FrameBorderRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderEn').setStyle('display', 'block');
			this.lookupReference('iframeBlank').getEl('FrameAppendixRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixEn').setStyle('display', 'none');
			currentSert = 'FrameBorderEn';
		},

		onEngAppSert: function () {
			this.lookupReference('iframeBlank').getEl('SystemOfCert').setStyle('display', 'none');

			this.lookupReference('iframeBlank').getEl('FrameBorderRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameBorderEn').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixRu').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixKz').setStyle('display', 'none');
			this.lookupReference('iframeBlank').getEl('FrameAppendixEn').setStyle('display', 'block');
			currentSert = 'FrameAppendixEn';
		},

		frameMoving: function (x, y) {
			// if (this.view.clas == true) return;
			var activField = this.lookupReference('iframeBlank').getElByClassName('ElBorder');
			if (activField != null) {
				var top = parseInt(activField.getStyle('top'));
				var left = parseInt(activField.getStyle('left'));
				activField.setStyle('left', left + x + 'px');
				activField.setStyle('top', top + y + 'px');
				return;
			}

			var borderEl = this.lookupReference('iframeBlank').getEl(currentSert);
			if (borderEl == null) return;
			var top1 = parseInt(borderEl.getStyle('top'));
			var left1 = parseInt(borderEl.getStyle('left'));
			borderEl.setStyle('left', left1 + x + 'px');
			borderEl.setStyle('top', top1 + y + 'px');
		},

		onPrint: function () {
			var activField = this.lookupReference('iframeBlank').getElByClassName('ElBorder');
			if (activField != null)
				activField.dom.className = 'ElNoBorder';

			this.lookupReference('iframeBlank').getWin().print();
		}
	});

	Ext.onReady(function () {
		return new Ext.Viewport({
			renderTo: Ext.getBody(),
			layout: 'fit',
			items: [
//				Ext.create('Ext.ux.IFrame')
				Ext.create('App.settingsPrintBlank.Panel')
			]
		});
	});
</script>