﻿/* Все имеющиеся иконки взяты от сюда 
http://modernuiicons.com/ 
https://icomoon.io/app/#/select
http://materialdesignicons.com/
http://www.flaticon.com/packs/
*/
/*Пример:*/
/*Все 6 стилей есть одна иконка, обязательно три размера в два цвета*/
/*#region icon book-perspective*/
/*
.icon-bookperspective1-large-white {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" baseProfile="full" width="46" height="46" viewBox="13 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"><path d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z " fill="rgb(255, 255, 255)" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" /></svg>') no-repeat left center !important;
}
.icon-bookperspective1-large-gray {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" baseProfile="full" width="46" height="46" viewBox="13 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"><path d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z " fill="rgb(66, 66, 66)" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" /></svg>') no-repeat left center !important;
}
.icon-bookperspective1-medium-white {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" baseProfile="full" width="36" height="36" viewBox="13 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"><path d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z " fill="rgb(255, 255, 255)" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" /></svg>') no-repeat left center !important;
}
.icon-bookperspective1-medium-gray {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" baseProfile="full" width="36" height="36" viewBox="13 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"><path d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z " fill="rgb(66, 66, 66)" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" /></svg>') no-repeat left center !important;
}
.icon-bookperspective1-small-white {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" baseProfile="full" width="26" height="26" viewBox="13 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"><path d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z " fill="rgb(255, 255, 255)" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" /></svg>') no-repeat left center !important;
}
.icon-bookperspective1-small-gray {
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" baseProfile="full" width="26" height="26" viewBox="13 0 76.00 76.00" enable-background="new 0 0 76.00 76.00" xml:space="preserve"><path d="M 25,27L 46,19L 46,22.25L 28.5,29L 31.75,31.25L 51,23.75L 51,48.5L 31.75,57L 25,52L 25,27 Z " fill="rgb(66, 66, 66)" fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" /></svg>') no-repeat left center !important;
}
*/
/*#endregion*/
