﻿.base-panel {
	padding: 20px 0 0 20px;
	
}
.x-panel{
	overflow: visible;
}
.x-box-inner {
	overflow: visible;
}


.inocards-container {
	background: #f6f6f6;
}

.inocards-container .x-panel-body-default {
	background: #f6f6f6;
	border-width: 0;
	overflow: visible ;
}

.widget-chart .x-panel-body-default {
	background: white;
	border-width: 0;
	overflow: visible !important;
}


.x-responsivecolumn {
	padding: 20px 0 0 20px;
}

.x-responsivecolumn > * {
	margin: 0 20px 20px 0;
	float: left;
}

.big-50 {
	width: calc(50% - 20px);
	background-position: 50% 20px !important;
}

.x-autocontainer-innerCt {
	display: table-cell;
	height: 100%;
	vertical-align: center;
}

/*#region Widget A*/

.admin-widget {
	background-color: #f6f6f6;
webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	z-index: 0 !important;
	margin: 20px;
}


.widget-top-container-first-img {
	position: absolute;
	z-index: 200;
	margin-top: 94px;
	border: 3px solid #fff;
	-webkit-border-radius: 36px;
	-moz-border-radius: 36px;
	-ms-border-radius: 36px;
	border-radius: 36px;
	left: 50%;
	margin-left: -33px;
}

.widget-top-first-container .postion-class {
	position: relative;
}

.widget-bottom-first-container {
	background-color: #fff;
}

.widget-name-text {
	font-family: "Open Sans";
	font-weight: Bold;
	font-size: 16px;
	line-height: 16px;
}

.widget-tool-button {
	border-width: 0px;
	right: auto;
	top: 33px;
	margin: 0px;
	height: 72px;
	left: 476px;
}

	.widget-tool-button .x-btn-soft-green-small {
		border-color: #90c258;
	}

	.widget-tool-button .x-btn-soft-green-small {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		padding: 7px 7px 7px 7px;
		border-width: 1px;
		border-style: solid;
		background-color: #9cc96b;
	}

	.widget-tool-button .x-btn-inner-soft-green-small {
		font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
		color: #f0f0f0;
		padding: 0 5px;
		max-width: 100%;
	}

	.widget-tool-button .x-btn-icon-el-soft-green-small {
		font-size: 16px;
		height: 16px;
		color: #f0f0f0;
		line-height: 16px;
	}

	.widget-tool-button .x-btn-soft-blue-small {
		border-color: #16a3f4;
	}

	.widget-tool-button .x-btn-soft-blue-small {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		padding: 7px 7px 7px 7px;
		border-width: 1px;
		border-style: solid;
		background-color: #2eadf5;
	}

	.widget-tool-button .x-btn-inner-soft-blue-small {
		font: 400 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
		color: #f0f0f0;
		padding: 0 5px;
		max-width: 100%;
	}

	.widget-tool-button .x-btn-icon-el-soft-blue-small {
		font-size: 16px;
		height: 16px;
		color: #f0f0f0;
		line-height: 16px;
	}

/*#endregion Widget A*/

/*#region Widget B*/

.widget-top-second-container {
	background-color: #8dc153;
}

	.widget-top-second-container .postion-class {
		position: relative;
	}

/*#endregion*/

/*#region WidgetC*/
.widget-top-first-third-container {
	background-color: #607d8b;
}

	.widget-top-first-third-container .postion-class {
		position: relative;
	}

.widget-follower-toolbar {
	background-color: #fafafa;
	font-size: 12px;
	padding: 0;
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

	.widget-follower-toolbar .widget-follower-tool-label {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}

	.widget-follower-toolbar .x-form-display-field {
		font-size: 13px;
		color: #333;
		font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
	}

		.widget-follower-toolbar .x-form-display-field .label {
			color: #404040;
			font-size: 12px;
		}
/*#endregion*/

/*#region WidgetE-F*/
.info-card-item {
	text-align: center;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0);
	margin: 0 20px 20px 0;
	border: 0;
}

	/*.info-card-item:before {
		width: calc(100% - 50px);
		position: absolute;
		height: 4px;
		content: "";
		top: 0;
		left: 14px;
		z-index: 5000;
	}*/

	.info-card-item div {
		line-height: 24px;
		border: 0;
		background: white;
	}

	.info-card-item span {
		font-size: 24px;
		line-height: 24px;
	}

	.info-card-item h2 {
		font-size: 30px;
		font-weight: normal;
		margin: 0;
		margin: 0;
		line-height: 32px;
	}

	.info-card-item .x-fa {
		display: inline-block;
	}

	.info-card-item.info-card-large-wrap span.x-fa {
    height: 55px;
    width: 55px;
    border-radius: 38px;
    color: #fff;
    font-size: 25px;
    line-height: 55px;
    margin: 25px 0px 5px 0px !important;
	}

	.info-card-item.info-card-large-wrap h2 {
		font-size: 28px;
		line-height: 38px;
	}

	.info-card-item.info-card-large-wrap .infodiv {
		font-size: 14px;
		line-height: 16px;
	}

/*#endregion WidgetE-F*/

.widget-info {
	background: #f6f6f6;
}
/*#region Widget Chart*/

.widget-notify {
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin: 0 20px 20px 0;
	border-top: 4px solid #f63594;
}

.widget-notify .x-panel-header-default {
	background-image: none;
	background: none;
	border: none;
}

.widget-notify .x-panel-header-title-default > .x-title-text-default {
	text-transform: none;
	padding: 0 0 0 25px;
	color: #484848; /*#303030; - цвет потемнее*/
	font-size: 17px;
	font-weight: 400;
	font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
	line-height: 19px;
}


.widget-chart {
	/*width: calc(50% - 48px);
	margin-top: 15px;*/
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	margin: 0 20px 20px 0;
	border-top: 4px solid #673ab7;
}

.widget-chart .x-panel-header-default {
	background-image: none;
	background: none;
	border: none;
}

.widget-chart .x-panel-header-title-default > .x-title-text-default {
	text-transform: none;
	padding: 0 0 0 25px;
	color: #484848; /*#303030; - цвет потемнее*/
	font-size: 17px;
	font-weight: 400;
	font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
	line-height: 19px;
}

.widget-chart .x-legend, .x-legend-panel {
	background: #fff none repeat scroll 0 0;
	outline: medium none;
}

.widget-chart .x-legend-container {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
	display: inline-block;
	line-height: 0;
}

.widget-chart .x-legend-item-marker {
	border-radius: 0.4em;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(0, 0, 0, 0.4) inset;
	height: 0.8em;
	left: 0.7em;
	position: absolute;
	top: 0.85em;
	width: 0.8em;
}

.widget-chart .x-legend.x-docked-left .x-legend-item:first-child, .x-legend.x-docked-right .x-legend-item:first-child, .x-legend-panel.x-docked-left .x-legend-item:first-child, .x-legend-panel.x-docked-right .x-legend-item:first-child {
	border-top: medium none;
}

.widget-chart .x-legend.x-docked-left .x-legend-item, .x-legend.x-docked-right .x-legend-item, .x-legend-panel.x-docked-left .x-legend-item, .x-legend-panel.x-docked-right .x-legend-item {
	border-top: 1px solid rgba(204, 204, 204, 0.5);
}

.widget-chart .x-legend-item {
	background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
	color: #333;
	font-family: "Open Sans","Helvetica Neue",helvetica,arial,verdana,sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 13px;
	max-width: 16em;
	min-width: 0;
	overflow: hidden;
	padding: 0.8em 1em 0.8em 1.8em;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*#endregion*/
