﻿@using App.UI.ExtJs
@using App.Web.Razor
@using ECabinetApp
@using ECabinetApp.Controllers

@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	@AppUI.ExtResourceManager(ExtComponent.None)

	<script type="text/javascript">
		var userPhoto = '@ViewData["UserAvatar"]';
	</script>
	@Plugin.ECabinetResources();
	@Bundle.RenderScript(CabinetMainPageController.Script)
	@Bundle.RenderStyle(CabinetMainPageController.Style)
</head>
<body>
</body>
</html>