﻿
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width"/>
	<title>News</title>
	<style>
		.newsHeader {
			width: 100%;
			color: firebrick;
			font-weight: bold;
			font-size: 15px;
		}
		.newsDate {
			color: firebrick;
			font-weight: bold;
			font-size: 15px;
		}
		.newsText {
			text-align: justify;
			color: #464a4c;
			margin-top: 1px;
			font: normal 13px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
		}
	</style>
</head>

<body style="background-color: white; padding: 0px; margin: 0">
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function () {
				try {
					w.yaCounter34921510 = new Ya.Metrika({
						id: 34921510,
						clickmap: true,
						trackLinks: true,
						accurateTrackBounce: true
					});
				} catch (e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/34921510" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

<div style="background-color: #f5f5f5; margin: 0px; text-transform: none; padding: 10px 10px 10px 25px; color: #484848; font-size: 17px; font-weight: 400; font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;">
	Новости/Жаналыктар
</div>
<table style="width: 100%; border: 0px; padding: 5px">
	<tr><td colspan="2">По всем вопросам обращайтесь на: <a href="#">borg.kz@mail.ru</a><br><br></td></tr>
	<!-- Новость
	<tr><td class="newsHeader">eCabinet v2.0.1</td><td class="newsDate">07.07.16</td></tr><tr><td colspan="2"><hr style="padding: 0px; margin: 0"/></td></tr>
	<tr>
		<td colspan="2" class="newsText">Тект новости</td>
	</tr>
	-->
	<!-- Новость -->
	<tr><td class="newsHeader">eCabinet v2.0.7</td><td class="newsDate">30.10.17</td></tr><tr><td colspan="2"><hr style="padding: 0px; margin: 0"/></td></tr>
	<tr>
		<td colspan="2" class="newsText">
			1. При переоформлении на сертификата новый стандарт, переоформленный сертификат автоматически становится по новому стандарту.
			<br>2. При оформении сертификата, в модуле "Сертификаты", появиась кнопка "Клиент", которая позволяет на форме сертификатов изменить адрес и назание, даже если клиент был удалён с модуля клиенты.
			<br>3. В поисковике сертификатов форма просмотра сертификата была оптимизирована, а также было улутшено оторажение данных.
			<br>4. В поисковике сертификатов добавлены даты начала и окончания обследования.
			<br>5. Все сертификаты которые с этого момента будут переоформляться в поисковике будут иметь статус "Не действителен".
			<br>6. Мелкие улутшения по интерфейсу.
			<br>7. Исправление мелких ошибок.
			<br>8. В поисковике сертификатов в главной таблице скрыта колонка "Система", её можно отбразить нажав на правую крайнию часть любого из заголовков.
		</td>
	</tr>
	
	<!-- Новость -->
	<tr><td class="newsHeader">eCabinet v2.0.5</td><td class="newsDate">20.10.16</td></tr><tr><td colspan="2"><hr style="padding: 0px; margin: 0"/></td></tr>
	<tr>
		<td colspan="2" class="newsText">
			<ul>
				<li>Добавлен отчёт по отработаным аудиторами дням, согласно данным заполняемым в команде обследования.</li>
				<li>ВНИМАНИЕ!!! Заполняйте вкладку "Команда" при заполнении обследования заявки. Пока можно заполнить данные задним числом.</li>
			</ul>
		</td>
	</tr>
	
	<!-- Новость -->
	<tr><td class="newsHeader">eCabinet v2.0.2</td><td class="newsDate">29.08.16</td></tr><tr><td colspan="2"><hr style="padding: 0px; margin: 0"/></td></tr>
	<tr>
		<td colspan="2" class="newsText">
			<ul>
				<li>Добавлена сортировка в модуле СОТРУДНИКИ.</li>
				<li>Изменён диалог добавления команды.</li>
			</ul>
		</td>
	</tr>
	
	<!-- Новость -->
	<tr><td class="newsHeader">eCabinet v2.0.1</td><td class="newsDate">12.08.16</td></tr><tr><td colspan="2"><hr style="padding: 0px; margin: 0" /></td></tr>
	<tr>
		<td colspan="2" class="newsText">
			<ul>
				<li>Исправлен вход под учётной записью имеющей несколько ролей. Для смены роли, нажмите на свои ФИО в верху экрана и выберите "Сменить роль".</li>
				<li>Добавлена сортировка в модуле КЛИЕНТЫ. </li>
				<li>Исправлена работа модуля СОТРУДНИКИ. Изменение пароля и удаление сотрудника работает корректно.</li>
			</ul>
		</td>
	</tr>
	<!-- Новость -->
	<tr><td class="newsHeader">Новая версия eCabinet 2.0</td><td class="newsDate">18.07.16</td></tr><tr><td colspan="2"><hr style="padding: 0px; margin: 0" /></td></tr>
	<tr>
		<td colspan="2" class="newsText">В новой версии изменилось:
			<ul>
				<li>Интерфейс и оформление программы</li>
				<li>Исправлена ошибка: An error occurred while processing your request.</li>
				<li>Добавлены отчёты НЦА, в которых собирается статистика согласно документу IAF MD 15:2014.</li>
@*				<li>В связи с новой отчётностью именена подача заявки теперь необходимо указывать более подробно информацию о коменде исследования в разрезе каждой площадки.</li>*@
@*				<li>Теперь для каждой из систем в заявке можно указать отдельного аудитора.</li>*@
				<li>Исправлены мелкие ошибки.</li>
			</ul>
		</td>
	</tr>
	</table>
</body>
</html>
